@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/reset.scss";
@import "./base/container.scss";
@import "./base/common";
@import "./components/header";
@import "./components/menu";
@import "./components/scroll-to-top.scss";
@import "./components/socials";
@import "./sections/index/offer";
@import "./sections/index/features";
@import "./sections/index/service";
@import "./sections/index/team";
@import "./sections/index/company";
@import "./sections/index/modal";
@import "./components/footer";
