@import "./components/variables.scss";
@import "./components/reset.scss";
@import "./base/container.scss";
@import "./base/common";
@import "./components/header";

@import "./components/footer";
@import "./components/scroll-to-top.scss";
@import "./sections/portfolio/filters";
@import "./sections/portfolio/projects";

@import "./components/scroll-to-top";
@import "./components/socials";
@import "./sections/index/team";
@import "./sections/portfolio/filters";
@import "./sections/portfolio/projects";
@import "./components/footer";

