.article-link:focus .projects-article {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

.projects-item {
  flex-basis: calc((100% - 60px) \3);
}

.projects-description {
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.5px;
  color: var(--secondary-color);
  font-size: 15px;
}

.projects-texthover {
  color: var(--white-color);
  font-size: 18px;
  line-height: 155.556%;
  letter-spacing: 0.55px;
  max-width: 322px;
  font-weight: 400;
}


.projects {
<<<<<<< HEAD
  padding-bottom: 94px;
}

.projects-wrap {
  padding: 20px 24px;
  border: 1px solid #eee;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-subtitle {
  line-height: 200%;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
}

.projects-img {
  width: 370px;
=======
    padding-bottom: 94px;

    &__wrap {
    padding: 20px 24px;
    border: 1px solid #eee;
  }
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  &__subtitle {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
  }
  &__img {
    width: 370px;
    height: 294px;
  }
  
  &__article {
    transition: box-shadow $st-animation;
  }
  
  &__link:hover &__article {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
  
  &__link:focus {
    outline: none;
  }
  
  &__link:focus &__article {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
      
  }
  
  &__item {
    flex-basis: calc((100% - 60px) \3);
  }
  
  &__description {
    color: $secondary-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0.48px;
  }
  
  &__texthover {
    color: $white-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.54px;
  max-width: 322px;
  }
  
  &__hover-position {
    position: relative;
    overflow: hidden;
  }
  
  &__hover {
    top: 294px;
    left: 0;
    position: absolute;
    width: 370px;
>>>>>>> d06dcf3a99a1c91173fbfd1a0f826c67639079e8
  height: 294px;
}

.projects-article {
  transition: box-shadow var(--st-animation);
}

.article-link:hover .projects-article {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.article-link:focus {
  outline: none;
}

.projects-hover-position {
  position: relative;
  overflow: hidden;
}

.projects-hover {
  background: rgba(33, 150, 243, 0.90);
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  transition: transform var(--st-animation);
  top: 294px;
  left: 0;
  position: absolute;
  width: 370px;
  height: 294px;
}

.article-link:hover .projects-hover {
  transform: translate(0, -294px);
}

.article-link:focus .projects-hover {
  opacity: 1;
}
=======
  /* opacity: 0; */
  transition: transform $st-animation;
  }
  
  &__link:hover &__hover {
    /* opacity: 1; */
    transform: translate(0, -294px);
  }
  
  &__link:focus &__hover {
    opacity: 1;
  }
  }
  
  
>>>>>>> d06dcf3a99a1c91173fbfd1a0f826c67639079e8
