.footer {
  padding: 60px 0;
  background-color: $background-color;


  
  &__info {
    color: $lightwhite-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
    transition: color $st-animation;
    &:hover {
    color: $highlight-color;
  }

   &:focus {
    color: $highlight-color;
    outline: none;
  }
  }
  
  
  
 
  
  &__soc__icon {
    fill: $white-color;
    transition: fill $st-animation;
  }

  &__logo1 {
    color: $highlight-color;
    font-family: $logo-font;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  &__logo2 {
    color: $white-color;
    font-family: $logo-font;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  &__address {
    color: $white-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 20px;
  }
  
  &__list {
    display: flex;
    gap: 9px;
    flex-direction: column;
  }
  
  
  
  &__title {
    color: $white-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  &__wrap {
    display: flex;
    gap: 93px;
  }
  
  
  
  
  
  &__subscribe {
    padding-top: 12px;
  }
  
  &__input {
    width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  color: $white-color;
  transition: border-color $st-animation;
  }
  
  &__input:hover {
    border-color: $highlight-color;
  }
  
  &__input:focus {
    border-color: $highlight-color;
    outline: none;
  }
  
  &__input::placeholder {
    color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-weight: 400;
  line-height: 125%; 
  letter-spacing: 0.48px;
  }
  
  &__btn {
    color: $white-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: $highlight-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
  }
  
  &__btn:hover {
    cursor: pointer;
  }
  
  &__form {
    display: flex;
    gap: 12px;
  }
  
  &__subscribe__icon {
    fill: $white-color;
  }
}

