.header {
  padding: 10px 0;
  animation-name: header-move;
  animation-duration: 1s;

  @media  screen and (min-width: 768px) {
    padding: 21px 0;
   }

   @media  screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
   }

  &__menu {
    width: 40px;
    height: 40px;

    @media  screen and (min-width: 768px) {
      display: none;
     }
  
     @media  screen and (min-width: 1200px) {
      display: none;
     }
  }

  &__wrap {
    @include flexbox($justify: space-between);

    // @media  screen and (min-width: 768px) {
    //   @include flexbox($justify: center);
    //  }
  
     @media  screen and (min-width: 1200px) {
      @include flexbox($justify: center);
     }
  }

  &__logo1 {
    @include logo($color: $highlight-color);
  }

  &__logo2 {
    @include logo($color: $text-color);
  }

  &__list {
    display: none;

    @media  screen and (min-width: 768px) {
      @include flexbox;
      margin-left: 88px;
      gap: 50px;
    }
    
    @media  screen and (min-width: 1200px) {
      @include flexbox;
    margin-left: 93px;
     }
  }

  &__infolist {
    display: none;

    @media  screen and (min-width: 768px) {
      @include flexbox($justify: flex-start);
      flex-wrap: wrap;
      gap: 10px;
      margin-left: 96px;
    }

    @media  screen and (min-width: 1200px) {
    @include flexbox;
    gap: 30px;
    margin-left: auto;
     }
  }

  &__infoitem {
    @include flexbox;
    gap: 10px;
    flex-direction: row-reverse;
    transition: fill $st-animation;
  }

  &__infoitem:hover &__icon {
    fill: $highlight-color;
    cursor: pointer;
  }

  &__infoitem:hover &__info {
    fill: $highlight-color;
    color: $highlight-color;
    cursor: pointer;
  }

  &__icon {
    width: 14px;
    height: 14px;
    fill: rgba(117, 117, 117, 1);
    transition: fill $st-animation;

    @media  screen and (min-width: 1200px) {
      width: 16px;
    height: 16px;
    }
  }

  &__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    position: relative;
    transition: color $st-animation;

    &:hover {
      color: $highlight-color;
    }

    &:focus {
      color: $highlight-color;
      outline: none;
    }

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      background-color: $highlight-color;
      border-radius: 2px;
      position: absolute;
      top: 44px;
      left: 0;
      opacity: 0;
      transition: opacity $st-animation;
    }

    &:hover::after {
      opacity: 1;
    }

    &:focus::after {
      opacity: 1;
    }
  }

  .index:hover &__item:nth-child(1) &__link::after {
    opacity: 1;
  }

  .index:hover &__item:nth-child(1) &__link {
    color: $highlight-color;
  }

  .portfolio:hover &__item:nth-child(2) &__link::after {
    opacity: 1;
  }

  .portfolio:hover &__item:nth-child(2) &__link {
    color: $highlight-color;
  }

  &__info {
    color: $secondary-color;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.24px;
    transition: color $st-animation;

    @media  screen and (min-width: 768px) {
    }

    @media  screen and (min-width: 1200px) {
      font-size: 14px;
 letter-spacing: 0.28px;
     }
  }

  &__info:focus {
    color: $highlight-color;
    outline: none;
  }

  &__info:focus-within ~ &__icon {
    fill: $highlight-color;
  }
}

@keyframes header-move {
  0% {
    transform: translate(0, -200px);
  }
  100% {
    transform: translate(0);
  }
}
