.container {
  width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
   outline: dotted red; 

   @media  screen and (min-width: 768px) {
    width: 768px;
   outline: dotted green; 
   }

   @media  screen and (min-width: 1200px) {
    width: 1200px;
   outline: dotted rgb(202, 228, 8); 
   }
  }