@mixin flexbox($align: center, $justify: center){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin logo($color: $white-color){
    color: $color;
    font-family: $logo-font;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}