%small_text {
    font-size: 14px;
    font-weight: 400;
}

%smallbold_text {
    font-size: 14px;
    font-weight: 700;
}

%filters_animation {
    background: $highlight-color;
    color: $white-color;
}

