.clients {
  padding: 94px 0;

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    @include flexbox;
    gap: 30px;
  }

  &__item {
    border-radius: 4px;
    width: 170px;
    height: 92px;
  }

  &__link {
    display: block;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    width: 170px;
    height: 92px;
    transition: border $st-animation;

    &:hover {
      border: 1px solid $highlight-color;
    }

    &:focus {
      border: 1px solid $highlight-color;
      outline: none;
    }
  }

  &__logo {
    width: 170px;
    height: 92px;
    fill: rgba(175, 177, 184, 1);
    transition: fill $st-animation;

    &:hover {
      fill: $highlight-color;
    }
  }

  &__link:focus &__logo {
    fill: $highlight-color;
    outline: none;
  }
}
