.clients {
  padding: 60px 0;

   @media  screen and (min-width: 1200px) {
    padding: 94px 0;
   }

  &__title {
    color: $text-color;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.84px;

    @media  screen and (min-width: 1200px) {
      margin-bottom: 50px;
    letter-spacing: 1.08px;
    font-size: 36px;
     }
  }

  &__list {
    @include flexbox;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
max-width: 450px;
margin: 0 auto;

    @media  screen and (min-width: 768px) {
max-width: 738px;
     }
  
     @media  screen and (min-width: 1200px) {
      max-width: none;
     }
  }

  &__item {
    border-radius: 4px;
    // width: 210px;
    height: 92px;
    transition: border $st-animation;
    border-radius: 4px;
   border: 1px solid #afb1b8;
   flex-basis: calc((100% - 30px) / 2);

@media  screen and (min-width: 768px) {
  flex-basis: calc((100% - 60px) / 3);
}

@media  screen and (min-width: 1200px) {
  flex-basis: calc((100% - 150px) / 6);
    }

   &:hover {
     border: 1px solid $highlight-color;
   }

   &:focus {
     border: 1px solid $highlight-color;
     outline: none;
   }
    
  }

  &__link {
    display: block;
   
    // width: 170px;
    // height: 92px;
    // transition: border $st-animation;
    //  border-radius: 4px;
    // border: 1px solid #afb1b8;

    // &:hover {
    //   border: 1px solid $highlight-color;
    // }

    // &:focus {
    //   border: 1px solid $highlight-color;
    //   outline: none;
    // }
  }

  &__logo {
    width: 100%;
    height: 92px;
    fill: rgba(175, 177, 184, 1);
    transition: fill $st-animation;

    &:hover {
      fill: $highlight-color;
    }
  }

  &__link:focus &__logo {
    fill: $highlight-color;
    outline: none;
  }
}
