/* .features-item:first-child:before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  content: "";
  display: block;
  background-image: url(../images/antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-item:nth-child(2):before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  content: "";
  display: block;
  background-image: url(../images/clock.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-item:nth-child(3):before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  content: "";
  display: block;
  background-image: url(../images/diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-item:last-child:before {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  content: "";
  display: block;
  background-image: url(../images/astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
} */

.features {
  padding: 94px 0;

  &__list {
    @include flexbox;
    gap: 30px;
  }

  &__title {
    margin-bottom: 10px;
    color: var(--text-color);
    @extend smallbold_text;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__text {
    color: var(--secondary-color);
    @extend small_text;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }

  &__wrap {
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 30px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}
