.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  @include flexbox;
  transition: opacity $st-animation;
}

.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: $white-color;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  /* z-index: 4; */
  position: relative;
  padding: 40px;
  /* top: 50%;
  left: 50%; */
  transform: rotate(360deg);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);

  &__circle {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    @include flexbox;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill $st-animation;

    &:hover {
      fill: $highlight-color;
      cursor: pointer;
    }

    &:focus {
      fill: $highlight-color;
    }
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }

  &__label {
    display: block;
    color: $secondary-color;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin-bottom: 4px;
  }

  &__input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 11px 12px 11px 40px;
    outline: none;
    transition: border-color $st-animation;
  }

  &__icon {
    transition: fill $st-animation;
  }

  &__input:hover {
    border-color: $highlight-color;
    cursor: pointer;
  }

  &__input:hover ~ &__icon {
    fill: $highlight-color;
  }

  &__input:focus {
    border-color: $highlight-color;
    cursor: pointer;
  }

  &__input:focus ~ &__icon {
    fill: $highlight-color;
  }

  &__comment {
    min-width: 448px;
    min-height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px;
    resize: none;
    font-size: 12px;
    letter-spacing: 0.12px;
    font-weight: 400;
    outline: none;
    transition: border-color $st-animation;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.12px;
    }
  }

  &__comment:hover,
  &__comment:focus {
    border-color: $highlight-color;
    cursor: pointer;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
  }

  &__checkbox {
    cursor: pointer;
  }

  &__list {
    @include flexbox;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__wrap {
    @include flexbox;
    gap: 7px;
  }

  &__text {
    color: $secondary-color;
    @extend small_text;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }

  &__link {
    color: $highlight-color;
    @extend small_text;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
  }

  &__btn {
    padding: 10px 52px;
    color: $white-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $highlight-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  &__item {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 29px;
    left: 12px;
  }
}

.is-hidden .modal {
  /* transform: translate(0); */
  transform: rotate(720deg) scale(15);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}
