
.offer {
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/offer-bg.webp);
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    animation-name: offer-bg;
    animation-duration: 2.5s;
    overflow: hidden;
  }
  
  @keyframes offer-bg {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .offer-title {
    max-width: 696px;
    color: var(--white-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: offer-move;
    animation-duration: 1.6s;
  }
  
  @keyframes offer-move {
    0% {
      transform: translate(1100px, -350px);
      opacity: 0;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }
  
  .offer-button {
    border-radius: 4px;
    background: var(--highlight-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    margin-top: 30px;
    padding: 10px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    animation-name: offer-button-move;
    animation-duration: 1.6s;
  }
  
  @keyframes offer-button-move {
    0% {
      transform: translate(-1100px, -350px);
      opacity: 0;
    }
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }