.offer {
  margin-top: 60px;
  max-width: 480px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/mobile-offer@1x.webp);
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  animation-name: offer-bg;
  animation-duration: 2.5s;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/mobile/mobile-offer@2x.webp);
  }

  @media  screen and (min-width: 768px) {
  margin-top: 80px;
    max-width: 768px;
    background-image: url(../images/tablet/tablet-offer@1x.webp);
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/tablet/tablet-offer@2x.webp);
    }
   }

   @media  screen and (min-width: 1200px) {
    max-width: 1600px;
       padding: 200px 0; 
    background-image: url(../images/desktop/desktop-offer@1x.webp);
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/desktop/desktop-offer@2x.webp);
  }
   }

  &__title {
    max-width: 360px;
    color: $white-color;
    font-size: 26px;
    font-weight: 900;
    line-height: 161.538% ;
    letter-spacing: 1.56px;

    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    animation-name: offer-move;
    animation-duration: 1.6s;
  
     @media  screen and (min-width: 1200px) {
    max-width: 696px;
      font-size: 44px;
    line-height: 136.364%;
    letter-spacing: 2.64px;
     }
  }

  &__button {
    border-radius: 4px;
    background: $highlight-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $white-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    margin-top: 30px;
    padding: 10px 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    animation-name: offer-button-move;
    animation-duration: 1.6s;

    @media  screen and (min-width: 1200px) {
      padding: 10px 32px;
       }
  }
}

@keyframes offer-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes offer-move {
  0% {
    transform: translate(1100px, -350px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes offer-button-move {
  0% {
    transform: translate(-1100px, -350px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
