.service {
  display: none;
  padding-bottom: 94px;

  @media  screen and (min-width: 1200px) {
    display: block;
   }

  &__list {
    @include flexbox;
    gap: 30px;
  }

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__subtitle {
    color: $white-color;
    @extend %smallbold_text;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__image {
    width: 370px;
    height: 294px;
  }

  &__item {
    position: relative;
  }

  &__bg {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;
    /* z-index: 2; */
    padding: 27px 107px;
  }

  &__item:nth-child(2) &__bg {
    padding: 27px 111px;
  }

  &__item:nth-child(3) &__bg {
    padding: 27px 93px;
  }
}
