.team {
  padding: 94px 0;
  background-color: rgba(245, 244, 250, 1);

  &__list {
    @include flexbox;
    gap: 30px;
  }

  &__title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__wrap {
    padding: 16px 0;
  }

  &__mate {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }

  &__item {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding-bottom: 30px;
  }

  &__subtitle {
    color: var(--secondary-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 10px;
  }
}
